body {
  font-size: 20px;
  font-family: Helvetica;
  margin: 0;
}

#disclaimer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
}

#disclaimer h1 {
  margin-top: 200px;
  font-size: 64px;
  text-align: center;
  color: red;
}

#disclaimer p {
  text-align: center;
  font-size: 36px;
  color: white;
  padding: 50px 200px 0 200px;
}

#disclaimer input {
  position: absolute;
  margin-top: 70px;
  font-size: 40px;
  width: 20%;
  background-color: white;
  color: #3dc;
  padding: 20px;
  border: none;
  border-radius: 10px;
  font-family: bold;
  transition: 0.2s linear;
  left: 40%;
  cursor: pointer;
}

#disclaimer input:hover {
  color: white;
  background-color: #3dc;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#fullgame {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.instr {
  margin: auto;
  margin-top: 10px;
  width: 500px;
  heigth: 200px;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: blue;
  color: white;
  padding: 20px;
  text-align: center;
}

.instr input {
  color: white;
  width: 80px;
  heigth: 40px;
  font-size: 16px;
  display: none;
}

#noButton {
  background-color: red;
  cursor: pointer;
}

#yesButton {
  background-color: green;
  cursor: pointer;
}

.animate {
  -webkit-animation: uptocallmini 1.5s 0s ease-out infinite;
  -moz-animation: uptocallmini 1.5s 0s ease-out infinite;
  animation: uptocallmini 1.5s 0s ease-out infinite;
}

.tolya {
  font-size: 10px;
  position: fixed;
  background: #2C2C2C;
  width: 1.5em;
  height: 2.5em;
  border-radius: 0.4em;
  left: 50%;
  top: 50%;
  cursor: pointer;
  z-index: 10000;
}

.tolya:before {
  content: '';
  position: absolute;
  background: #2C2C2C;
  height: 2em;
  width: 0.5em;
  display: block;
  margin-left: -0.6em;
  -webkit-box-shadow: 2.2em 0em 0 0em #2C2C2C,0.70em 2.5em 0 0.1em #2C2C2C, 1.5em 2.5em 0em 0.1em #2C2C2C, 1.5em 2em 0em 0.1em #2C2C2C, 0.7em 2em 0em 0.1em #2C2C2C;
  box-shadow: 2.2em 0em 0 0em #2C2C2C,0.70em 2.5em 0 0.1em #2C2C2C, 1.5em 2.5em 0em 0.1em #2C2C2C, 1.5em 2em 0em 0.1em #2C2C2C, 0.7em 2em 0em 0.1em #2C2C2C;
  border-radius: 1em;
}

.tolya:after {
  content: '';
  position: absolute;
  background: #2C2C2C;
  height: 1.2em;
  width: 1.2em;
  display: block;
  border-radius: 50%;
  margin-top: -1.4em;
  margin-left: 0.15em;
}

.mail {
  font-size: 12px;
  display: block;
  position: fixed;
  border-top: 1em solid transparent;
  border-left: 1.5em solid #2c2c2c;
  border-right: 1.5em solid #2c2c2c;
  border-bottom: 1em solid #2c2c2c;
  height: 0;
  width: 0;
  top: 350px;
  left: 150px;
  cursor: pointer;
}

.mail:before {
  content: '';
  top: -1.23em;
  left: -1.5em;
  display: block;
  position: absolute;
  border-top: 1em solid #2c2c2c;
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  border-bottom: 1em solid transparent;
  font-size: 0.8em;
}

.mail:after {
  content: 'Outlook';
  position: absolute;
  top: 35px;
  left: -35px;
  font-size: 20px;
}

.pl {
  position: absolute;
  bottom: 100px;
  left: 200px;
  cursor: pointer;
}

.pl img {
  width: 80px;
  heigth: 80px;
}

.pl:before {
  content: "PL проекта ХМАО";
  position: absolute;
  top: -30px;
  left: -40px;
  width: 200px;
}

.lena {
  position: absolute;
  bottom: 50px;
  left: 45%;
  cursor: pointer;
  width: 125px;
  height: 105px;
  background: url('../images/lena.jpg') no-repeat;
  background-position: -20px -20px;
}

.lena:before {
  font-size: 26px;
  content: "Лена";
  position: absolute;
  top: -40px;
  left: 30px;
}

.kabinet {
  position: fixed;
  right: 80px;
  top: 80px;
  cursor: pointer;
}

.kabinet:before {
  content: "Кабинет Черкасова";
  position: absolute;
  top: 80px;
}

.kabinet img {
  width: 75px;
  heigth: 75px;
}

.andrew_block {
  position: fixed;
  top: 20px;
  left: 50px;
}

.andrew_block p {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  content: "Спросить совета!";
}

.andrew_block img {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding-right: 5px;
}

.andrew_used {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: default !important;
}

#hint {
  position: fixed;
  width: 385px;
  background-color: #B0C4DE;
  top: 105px;
  left: 50px;
  display: none;
}

#hint img:first-child {
  margin-right: 10px;
  float: left;
}

#hint img:last-child {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

#hint .hint_text {
  font-size: 16px;
  font-style: italic;
  padding-right: 20px;
}


/*КНОПКА ЗВОНКА*/

.mini-phone-enabled {
  position: fixed;
  bottom: 120px;
  right: 100px;
  cursor: pointer;
  z-index: 999;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: rgba(26,255,179, .5);
  width: 70px;
  height: 70px;
  -webkit-animation: uptocallmini 1.5s 0s ease-out infinite;
  -moz-animation: uptocallmini 1.5s 0s ease-out infinite;
  animation: uptocallmini 1.5s 0s ease-out infinite;
  background-clip: border-box;
  webkit-background-clip: border-box;
}

.mini-phone-enabled:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../images/mini.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-animation: uptocallphone 1.5s linear infinite;
  -moz-animation: uptocallphone 1.5s linear infinite;
  animation: uptocallphone 1.5s linear infinite;
}

.mini-phone-disabled {
  position: fixed;
  bottom: 120px;
  right: 100px;
  z-index: 999;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: gray;
  width: 70px;
  height: 70px;
  background-clip: border-box;
  webkit-background-clip: border-box;
}

.mini-phone-disabled:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../images/mini.png");
  background-repeat: no-repeat;
  background-position: center center;
}

@-webkit-keyframes uptocallphone {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
  25% {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  50% {-ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-moz-keyframes uptocallphone {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  50% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes uptocallphone {
  0% {
    -ms-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
  }
  25% {
    -ms-transform:rotate(30deg);
    -webkit-transform:rotate(30deg);
    transform:rotate(30deg);
  }
  50% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes uptocallmini {
  0% {box-shadow: 0 0 8px 6px rgba(23,167,167, 0), 0 0 0px 0px rgba(0,0,0,0), 0 0 0px 0px rgba(23,167,167, 0);}
  10% {box-shadow: 0 0 8px 6px #1affb3, 0 0 12px 10px rgba(0,0,0,0), 0 0 12px 14px #1affb3;}
  100% {box-shadow: 0 0 8px 6px rgba(23,167,167, 0), 0 0 0px 40px rgba(0,0,0,0), 0 0 0px 40px rgba(23,167,167, 0);}
}
@-moz-keyframes uptocallmini {
  0% {box-shadow: 0 0 8px 6px rgba(23,167,167, 0), 0 0 0px 0px rgba(0,0,0,0), 0 0 0px 0px rgba(23,167,167, 0);}
  10% {box-shadow: 0 0 8px 6px #1affb3, 0 0 12px 10px rgba(0,0,0,0), 0 0 12px 14px #1affb3;}
  100% {box-shadow: 0 0 8px 6px rgba(23,167,167, 0), 0 0 0px 40px rgba(0,0,0,0), 0 0 0px 40px rgba(23,167,167, 0);}
}
@keyframes uptocallmini {
  0% {box-shadow: 0 0 8px 6px rgba(23,167,167, 0), 0 0 0px 0px rgba(0,0,0,0), 0 0 0px 0px rgba(23,167,167, 0);}
  10% {box-shadow: 0 0 8px 6px #1affb3, 0 0 12px 10px rgba(0,0,0,0), 0 0 12px 14px #1affb3;}
  100% {box-shadow: 0 0 8px 6px rgba(23,167,167, 0), 0 0 0px 40px rgba(0,0,0,0), 0 0 0px 40px rgba(23,167,167, 0);}
}
